<div class="form-group row w-100 m-0 mb-4 mt-2 justify-content-end">
    <div class="col-md-4 p-2">
        <label for="search-box"><b>Cerca:</b></label>
        <input #searchbox [ngModel]="searchTerm" (ngModelChange)="onChangeInputSearch($event)" type="text" class="form-control" id="search-box" placeholder="Pizzeria">
    </div>
</div>

<div *ngIf="isLoading()" class="text-center">
    <div class="spinner-grow my-loading" role="status">
        <span class="sr-only"></span>
    </div>
</div>

<div [hidden]="isLoading()">
    <div class="text-center">
        <div *ngFor="let business of businesses" (click)="goToLink(business.url)" class="card d-inline-block cursor-pointer" style="width: 18rem;" [ngClass]="{'closed': business.is_closed}">
            <img class="card-img-top my-card-business" [src]="business.image_url" alt="Card image cap">
            <div class="card-body">
                <h5 [title]="business.name" class="card-title text-truncate">{{business.name}}</h5>
                <div class="card-text text-center">Recensito: <b>{{business.rating}}/5</b> da <b>{{business.review_count}}</b> persone!</div>
                <div class="card-text text-center"><b>{{business.price ? business.price : '--'}}</b></div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{business.display_phone}}</li>
                <li [title]="business.location.address1" class="list-group-item text-truncate">{{business.location.address1}}</li>
                <li class="list-group-item">Distante: <b>{{business.distance| printDistance}}</b></li>
            </ul>
        </div>
    </div>

    <div *ngIf="!businesses || businesses.length == 0" class="text-center">
        <h3>Nessun elemento da mostrare!</h3>
    </div>
    
    <app-paginator #paginator *ngIf="businesses && businesses.length > 0" class="mt-4" [config]= "configPaginator" (onChangePage)="onChangePage($event, searchbox)"></app-paginator>
</div>