.my-container {
    display: flex;
    max-width: 30rem;
    overflow-x: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.active {
    background: #0d6efd;
    color: white;
}

.disabled {
    opacity: 0.5;
}